# addon
addon/.env
addon/node_modules
addon/yarn.lock
temp/addon-minecraft-old-version

# mod - forge
forge/bin
forge/*.launch
forge/.settings
forge/.metadata
forge/.classpath
forge/.project
forge/out
forge/*.ipr
forge/*.iws
forge/*.iml
forge/.idea
forge/build
forge/.gradle
forge/eclipse
forge/run
forge/forge*changelog.txt

# mod - fabric
fabric/.gradle/
fabric/build/
fabric/out/
fabric/classes/
fabric/*.launch
fabric/.idea/
fabric/*.iml
fabric/*.ipr
fabric/*.iws
fabric/.settings/
fabric/.vscode/
fabric/bin/
fabric/.classpath
fabric/.project
fabric/*.DS_Store
fabric/run/
fabric/hs_err_*.log
fabric/replay_*.log
fabric/*.hprof
fabric/*.jfr

# root
resources/bedrock-samples
.idea